.layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.layout__header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1.3rem 0;
  color: var(--text-color-white);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-xl);
}

.layout__main {
  /* Pendiente */
}

.layout__footer {
  padding: 2.5rem 0;
  margin-top: auto;
  color: var(--text-color-white);
  text-align: center;
  background: var(--primary-color);
}
