.container {
  padding: var(--px40) var(--px20);
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: var(--px40);
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
}

.highlight {
  color: var(--secondary-color);
}

.content {
  display: grid;
  gap: var(--px30);
  grid-template-columns: 1fr 350px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--px30);
}

@media (width <= 1024px) {
  .content {
    grid-template-columns: 1fr;
  }
}
